html{
    scroll-behavior: smooth;
    font-family: 'LotteMartDreamMedium';
}
body{
    margin: 0;
}

.boldfont{
    font-family: 'LotteMartDreamMedium';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'LotteMartDreamBold';
}

.grayton{
    color: #6C6C6C;
}

.black{
    color: black;
}

main{ 
    margin: 0;
    padding-bottom: 11vw;
    overflow: auto;
}

@font-face {
    font-family: 'LotteMartDreamMedium';
    font-style: normal;
    font-weight: 300;
    src: url('font/12롯데마트드림Medium.ttf')
}
@font-face {
    font-family: 'LotteMartDreamBold';
    font-style: normal;
    font-weight: 300;
    src: url('font/12롯데마트드림Bold.ttf')
}
@font-face {
    font-family: 'TmonMonsori';
    font-style: normal;
    font-weight: 300;
    src: url('font/TmonMonsori.ttf.ttf')
}

.whitebaseblue{
    background-color: white;
    color: #6591FA;
}

.bluebasewhite{
    background-color: #6591FA;
    color: white;
}

.nav{
    position: absolute;
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 24px;
    padding-bottom: 15px;
    top: 0;
    width: calc( 100% - 300px );
}

nav>*{
    display: inline-block;
}

a{
    color: white;
}

.right_fix{
    position: relative;
    float: right;
}

.menu>*{
    margin-left: 7px;
    margin-right: 7px;
}

#main{
    width: 100%;
    height: 75vh;
    padding-top: calc( 5vh + 50px );
    padding-bottom: 10vh;
    color: white;
}

.outer {
    display: table;
}

.inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

.whitebased_button{
    background-color: white;
    color: #6591FA;
    border-radius: 5px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: 900;
}

.title{
    margin-bottom: 5%;
    font-family: 'TmonMonsori';
}

#downbtn{
    position: absolute;
    width: 50px;
    top: 84%;
    left: calc( 50% - 25px );
    margin: 0 auto;
    border: 0;
    background: none;
    animation-duration: 4s;
    animation-name: move;
    animation-iteration-count: infinite;
    outline: none;
    transition: transform 0.6s;
}
#downbtn>*{
    width: 100%;
}

#downbtn:hover{
    animation-play-state: paused;
    cursor: pointer;
    transform: scale(1.2);
}

@keyframes move {
    0% {
        top: 84%;
    }

    50% {
        top: 90%;
    }

    100% {
        top: 84%;
    }
}

.project_profile{
    margin-top: calc( 15vh + 140px );
    padding: 80px;
    max-width: calc ( 100% - 160px );
}

.cardname{
    text-align: center;
    padding-left: 80px;
    padding-right: 20px;
    color: black;
    margin-top:0.4em; 
    font-size: 30px;
    min-width: 300px;
}

.cardtext{
    padding-right: 70px;
    white-space: normal;
    color : #6C6C6C;
}

.card{
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}

.team_profile_name{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#bottom_line{
    width: 70%;
    float: right;
}

.history{
    position: relative;
    left: 4%;
    margin-top: 0.1em;
    margin-bottom: 0.23em;
}

.top_bg{
    position: absolute;
    width: 100%;
    top: 0;
}

.bg1{
    z-index: -11;
}

.bg2{
    z-index: -10;
}

.pdfd{
    text-align: center;
}

#pdfdownload{
    margin: 0 auto;
    border: 0;
    background-color: #6591FA;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    font-size: 1em;
    color: white;
    font-family: 'LotteMartDreamBold';
    outline: none;
}

#pdfdownload:hover{
    cursor: pointer;
}

.littledown{
    margin-top: 15px;
}

.bgbt>*{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -10;
}

.bgbt{
    position: relative;
    bottom: -230px;
}

.lastcard{
    margin-bottom: 0.3em;
}